*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.header-menu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 20px;
    padding: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #BE89CB;
}

.header-menu nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-menu {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
}

.lista-menu li >a {
    color: #FFF;
    font-size: 18px;
    text-decoration: inherit;
}

.tamanho-foto-perfil {
    width: 250px;
    height: 250px;
}

.principal {
    height: 100vh;
    display: flex;
    background-color: #EAEAEA;
}

.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}

.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nome-completo {
    font-size: 36px;
    color: #FF4DBC;
    font-weight: 700;
    height: 45px;
}

.profissao {
    color: #C5C0C0;
    height: 60px;
}

.texto-sobre {
    font-size: 18px;
    line-height: 32px;
}

.article-lista {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.topico-principal {
    font-size: 24px;
    color: #FF4DBC;
}

.lista-item {
    padding: 32px;
    margin: 10%;
}

.lista-item ul li {
    margin-bottom: 32px;
}

.lista-titulo {
    margin-bottom: 5px;
    font-size: 20px;
    color: #661e4b;
    font-weight: 700;
}

.lista-local {
    font-size: 16px;
    color: #2F80ED;
}

.lista-descricao {
    font-size: 16px;
    margin-top: 5px;
    line-height: 20px;
    font-weight: 300;
}

.rodape {
    display: flex;
    background-color: #BE89CB;
    height: 250px;
    align-items: center;
}

.lista-rodape li {
    display: flex;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 20px;
    align-items: center;
}

.lista-rodape li >a {
    color: #FFF;
    font-size: 16px;
    text-decoration: inherit;
}

.estilo-icone {
    font-size: 32px;
    margin-right: 10px;
}
